* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 18px;
	background: #000;
}
input {
	font-size: inherit;
}
.weather-wrapper {
	background-image: url(assets/warm-bg.jpg);
	width: 360px;
	height: 640px;
	margin: 70px auto 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 30px 50px;
	border-radius: 20px;
}
.bg-warm {
	background-image: url(assets/warm-bg.jpg);
}
.bg-cold {
	background-image: url(assets/cold-bg.jpg);
}
.input {
	border: none;
	background: #ffffff;
	outline: none;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 40px;
}
.weather__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #e3e3e3;
	border-radius: 10px;
	padding: 5px 20px 15px;
}
.weather__city,
.weather__day-anchor,
.weather__temp {
	margin-bottom: 5px;
}
.weather__error {
	font-size: 35px;
}